<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Esgi\Car\Api\Data\BrandSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="Esgi\Car\Api\Data\BrandInterface" type="Esgi\Car\Model\Brand"/>
    <preference for="Esgi\Car\Api\BrandRepositoryInterface" type="Esgi\Car\Model\BrandRepository"/>

    <!-- Create our type BrandGridDataProvider -->
    <virtualType name="BrandGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Esgi\Car\Model\ResourceModel\Brand\Collection
            </argument>
            <argument name="filterPool" xsi:type="object" shared="false">BrandGridFilterPool
            </argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>

    <!-- Create our type BrandGridFilterPool -->
    <virtualType name="BrandGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter
                </item>
                <item name="fulltext" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Type for brand_department_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="car_brand_listing_data_source" xsi:type="string">
                    Esgi\Car\Model\ResourceModel\Grid\Brand\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Simulate our class Esgi\Car\Model\ResourceModel\Grid\Brand\Collection -->
    <virtualType name="Esgi\Car\Model\ResourceModel\Grid\Brand\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">esgi_car_brand</argument>
            <argument name="resourceModel" xsi:type="string">Esgi\Car\Model\ResourceModel\Brand</argument>
        </arguments>
    </virtualType>
</config>
